<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BasketBall.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8C093F935E7A3EA5C6ED2004C069837214BD45F2</string>
				<key>dateExpires</key>
				<string>24.11.2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>32LH6JWN62.space.melv.basketball</string>
				<key>com.apple.developer.team-identifier</key>
				<string>32LH6JWN62</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>BasketBall.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>256d6add-34d4-4c21-a3ae-242e07a34968</string>
				<key>dateExpires</key>
				<string>23.03.2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: space.melv.basketball</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>32LH6JWN62</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
